/* font-black-color: #0d1721 */
/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  /* --primary-color: #313031;
  --secondary-color: #4d4d4d;
  --reserve-color: #242424;
  --text-color: #f2f2f2; */

  /* #0d0b0d */
  /* #2f2e30 */

  --dark-theme-v2-color: #0d1721;
  --dark-theme-color: #0f172d/*0f172d*/;
  --light-theme-color: #f2f2f2;
  --highlight-theme-color: #009cff;
  --dark-text-theme-color: #8892b0;

}

/* DEFAULT SETS */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

button {
  border: none;
  outline: none;  
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: lighter;
  color: var(--light-theme-color);
}

img {
  width: 100%;
}

/* NAVBAR */
nav {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 1em 0;
}

nav img {
  grid-column: span 6;
  width: 30px;
}

nav ul {
  grid-column: span 6;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--highlight-theme-color);
}

nav .nav-burger {
  display: none;
  font-size: 1em;
}

.App > section {
  padding: 0 5%;
}

.v-line-white {
  border-left: 1.5px solid #f2f2f2;
  height: 100%;
  margin-left: 12px;
  position: relative;
}

.v-line-dark {
  border-left: 1.5px solid #0f172d;
  height: 100%;
  position: relative;
  margin-left: 12px;
  
}

.left-section {
  grid-column: span 1;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  align-items: center;
}

.left-section i:first-child {
  grid-row: span 4;
}

.left-section i:last-child {
  grid-row: span 4;
}

.left-section i{
  font-size: 1.5em;
  color: #0f172d;
  width: fit-content;
  cursor: pointer;
}

/* .left-section i.white{
  font-size: 1.5em;
  color: #f2f2f2;
  width: fit-content;
  cursor: pointer;
} */

#home {
  background-color: var(--dark-theme-color);
  height: 100vh;
  overflow-y: hidden;
  /* background-image: url("./assets/home-background.png");
  background-repeat: no-repeat; */
}

#home ul i {
  color: var(--light-theme-color);
  font-size: 1.8em;
  cursor: pointer;
}

#home .nav-burger {
  display: none;
}

#about {
  background-color: var(--light-theme-color);
  height: 100vh;
}

#project {
  background-color: var(--dark-theme-color);
  /* height: 100vh; */
}

#contact {
  background-color: var(--light-theme-color);
  /* height: 100vh; */
}

footer > div {
  font-size: 0.9em;
  color: #cacaca;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div div:first-child > button {
  margin-right: 0.5em;
  padding: 0 0.5em ;
  border-radius: 3px;
  background-color: #0d1721;
  border: 0.5px solid rgba(235, 235, 235, 0.05);
}

footer div div:first-child > button:hover i {
  color: var(--highlight-theme-color);

}

footer i {
  color: #cacaca;
  font-size: 1.3em;
}

footer div div:last-child {
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .App > section {
    padding: 0 4%;
  } 
}

@media screen and (max-width: 840px) {
  #home ul {
    display: none;
  }

  #home .nav-burger {
    grid-column: span 6;
    display: inline-flex;
    justify-content: right;
  }

  #home .nav-burger button {
    background-color: transparent;
    padding: 2px 10px;
    border: none;
    width: auto;
  }

  #home .nav-burger i {
    color: var(--light-theme-color);
  }

  #home  .nav-burger button i:hover {
    color: var(--highlight-theme-color);
  }

  footer div div:first-child > button {
    margin-right: 0.4em;
  }
}

@media screen and (max-width: 640px) {
  footer > div {
    padding: 3em 0;
    flex-direction: column;
    gap: 1em;
  }
}